h1 {
    text-align: center;
    text-decoration: underline;
}

button {
    font-family: 'type';
    background-color: #D75A20;
    color: #FBD576;
}

button:hover {
    cursor: pointer;
    background-color: #FBD576;
    color: #D75A20;
}


.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    border: 15px solid #D75A20;
}

.todo {
    border: 3px solid #FBD576;
    padding: 10px;
    margin: 10px;
    text-decoration: underline;
}