@font-face {
  font-family: 'type';
  src: url(./fonts/web/Sligoil-Micro.woff);
}

body {
  margin: 0;
  font-family: 'type';
  background-color: #EAE8D9;
  color: #D75A20;
}

code {
  font-family: 'type';
  color: #D75A20;
}
